<p>
  <strong>Hiker:</strong>
  <%= sighting.hiker %>
</p>
<p>
  <strong>Day:</strong>
  <%= sighting.day %>
</p>
<p>
  <strong>Comment:</strong>
  <%= sighting.comment %>
</p>
<p>
  <%= link_to 'Delete Sighting', [sighting.flower, sighting],
      method: :delete,
      data: { confirm: 'Delete sighting: Are you sure?' } %>
</p>  